@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&family=Noto+Sans+Mono:wght@100;200;300;400;500&family=Quicksand:wght@300;400&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titan+One');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&family=Poppins:wght@100;500;600;800;900&family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500&family=Quicksand:wght@300;400&display=swap');



@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #023020 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    #2b2b2b
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --font-color:#474950;
    --second-color:#a9a7b1;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
    --hue: #008080;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.wide{
  zoom: 63%;
}
.wide1{
  zoom: 66%;
}
.wide2{
  zoom: 75%;
}
.hand{
  background-image: url(../../public/hand.gif);
  background-repeat: no-repeat;
  background-size: 38rem;
  background-position-x: right;
  justify-content: flex-start;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  /* text-decoration: none; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.pro{
  font-family: "Indie Flower", serif;
  font-weight: 100;
}
.pro2{
  font-family: "Quicksand", serif;
  font-weight: 100;
}
.items-container {
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  height: 83.3333333333vh;
  width: 55.5555555556vh;
  background-color: #202938;
}
.items-container:hover .item--girl {
  opacity: 1;
}
.items-container:hover .item--girl .item__screen--full {
  transform: scale(1);
}
.items-container:hover .item--forest {
  opacity: 0;
}
.items-container:hover .item--forest .item__screen--full {
  transform: scale(1.07);
}

.item,
.item__screen {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.item {
  opacity: 0;
  z-index: 1;
  transition: opacity 0.4s;
}
.item:first-child {
  opacity: 1;
  z-index: 100;
}
.item__screen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.item__screen--full {
  opacity: 0.6;
  transition: transform 1.8s;
}
.item__screen--clip {
  clip-path: polygon(50% 0%, 20% 100%, 80% 100%);
}
.item--girl .item__screen {
  background-image: url(../../public/avatars.png);
  background-size: 115%;
}
.item--girl .item__screen--full {
  transform: scale(5.0);
}
.item--forest .item__screen {
  background-image: url(../../public/forest.gif.crdownload);
}


.mirror {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  width: 80.6666666667vh;
  height: 100vh;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
  filter: brightness(80%);
}

.text {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 42px;
  opacity: 0;
  width: 25%;
}
.mirrortext{
  font-family: "Playfair Display", serif;
  font-size: 42px;
}
.text--left {
  animation: bluryText 2s linear 1s forwards;
  align-self: flex-start;
  margin-top: 24px;
  margin-left: 24px;
}
.text--right {
  animation: bluryText 2s linear 2.5s forwards;
  align-self: flex-end;
  margin-bottom: 24px;
  margin-right: 24px;
  text-align: right;
}


@webkit-keyframes bluryText {
  0% {
    -webkit-filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    opacity: 1;
  }
}

#root {
  margin: 100px auto;
  max-width: 500px;
  padding-bottom: 100px;
}
.body, .body::before, .body::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}


.body {
  font-family: "Courgette", cursive;
  background-color: #000;
  background-image: radial-gradient(circle, #012, #000 15em);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 75em;
  perspective-origin: 50% calc(50% - 5em);
  width: 5rem;
  transform-style: preserve-3d;
}

.platform {
  position: relative;
  transform-style: preserve-3d;
  animation: platform 8s infinite ease-in-out;
}
@keyframes platform {
  0%, 100% {
    transform: translateY(-0.5em);
  }
  50% {
    transform: translateY(0.5em);
  }
}

.plate {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform-style: preserve-3d;
}
.plate:nth-child(1) {
  width: 16em;
  height: 16em;
  background-image: radial-gradient(#444, #111);
  transform: translate(-50%, -50%) rotateX(90deg) translateZ(2em);
}
.plate:nth-child(2) {
  width: 14em;
  height: 14em;
  background-image: radial-gradient(#000, #222);
  transform: translate(-50%, -50%) rotateX(90deg) translateZ(-2em);
}
.plate::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0.5em;
  background-image: linear-gradient(90deg, #222, #333, #111, #222);
  transform: translateX(-50%) rotateX(-90deg) translateZ(0.5em);
  transform-origin: top;
}

.plate::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #222, #333, #111, #222);
  border-radius: 50%;
  transform: translate(-50%, -50%) translateZ(-0.5em);
}

.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  clip-path: polygon(0 0, 100% 0, 93.25% 100%, 6.75% 100%);
  background-color: rgba(0, 0, 0, 0.3333333333);
  overflow: hidden;
  animation: panalRotate 60s infinite linear;
}
@keyframes panalRotate {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  from {
    transform: translate(-50%, calc(-50% + 0.25em)) rotateY(0) translateZ(7em) rotateX(-15deg);
  }
  to {
    transform: translate(-50%, calc(-50% + 0.25em)) rotateY(360deg) translateZ(7em) rotateX(-15deg);
  }
}
.panel:nth-child(1) {
  animation-delay: 0s;
}
.panel:nth-child(1)::after {
  animation-delay: 0s;
}
.panel:nth-child(2) {
  animation-delay: -3.75s;
}
.panel:nth-child(2)::after {
  animation-delay: -1.25s;
}
.panel:nth-child(3) {
  animation-delay: -7.5s;
}
.panel:nth-child(3)::after {
  animation-delay: -2.5s;
}
.panel:nth-child(4) {
  animation-delay: -11.25s;
}
.panel:nth-child(4)::after {
  animation-delay: -3.75s;
}
.panel:nth-child(5) {
  animation-delay: -15s;
}
.panel:nth-child(5)::after {
  animation-delay: -5s;
}
.panel:nth-child(6) {
  animation-delay: -18.75s;
}
.panel:nth-child(6)::after {
  animation-delay: -6.25s;
}
.panel:nth-child(7) {
  animation-delay: -22.5s;
}
.panel:nth-child(7)::after {
  animation-delay: -7.5s;
}
.panel:nth-child(8) {
  animation-delay: -26.25s;
}
.panel:nth-child(8)::after {
  animation-delay: -8.75s;
}
.panel:nth-child(9) {
  animation-delay: -30s;
}
.panel:nth-child(9)::after {
  animation-delay: -10s;
}
.panel:nth-child(10) {
  animation-delay: -33.75s;
}
.panel:nth-child(10)::after {
  animation-delay: -11.25s;
}
.panel:nth-child(11) {
  animation-delay: -37.5s;
}
.panel:nth-child(11)::after {
  animation-delay: -12.5s;
}
.panel:nth-child(12) {
  animation-delay: -41.25s;
}
.panel:nth-child(12)::after {
  animation-delay: -13.75s;
}
.panel:nth-child(13) {
  animation-delay: -45s;
}
.panel:nth-child(13)::after {
  animation-delay: -15s;
}
.panel:nth-child(14) {
  animation-delay: -48.75s;
}
.panel:nth-child(14)::after {
  animation-delay: -16.25s;
}
.panel:nth-child(15) {
  animation-delay: -52.5s;
}
.panel:nth-child(15)::after {
  animation-delay: -17.5s;
}
.panel:nth-child(16) {
  animation-delay: -56.25s;
}
.panel:nth-child(16)::after {
  animation-delay: -18.75s;
}
.panel::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "CURRENTLY UNDER CONSTRUCTION! ANIMATION BUILT BY ME";
  font-weight: 700;
  font-size: 1em;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 0 5px #0af, 0 0 15px #0af, 0 0 30px #0af;
  animation: textMove 20s infinite linear;
}
@keyframes textMove {
  from {
    transform: translate(2rem, -50%);
  }
  to {
    transform: translate(-42.64rem, -50%);
  }
}

.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(10deg);}
  50%{-webkit-transform: rotate(-5deg)}
  100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
  0%{transform: rotate(10deg);}
  50%{transform: rotate(-5deg)}
  100%{transform: rotate(10deg);}
}

.swingimage{
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}
.card1 {
  font-size: 164px;
  width: 300px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.card1-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: -120px;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
}
.body2 {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.body2,.body2:before,.body2:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

b {
position: relative;
display: block;
font-family: helvetica neue, helvetica, sans-serif;
line-height: 1.15em;
margin-top: -1.15em;
top: 2.3em;
font-size: 0.67em;
font-weight: 400;
letter-spacing: 0.025em;
opacity: 0.75;
text-align: center;
}

b span {
font-size: 0.785em;
font-weight: 400;
opacity: 0.4;
}

#intro {
width: 200px;
margin: 100px auto 0;
margin-right: 50em;
margin-top: -85em;
}

.button {
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin-top: 40px;
}

.button .bottom {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 100%;
  height: 100%;
  background-color: #008080;
  display: block;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.button .top {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 24px 34px 22px 34px;
  border: 2px solid #04049d;
}

.button-dark .top {
  border: 2px solid #fff;
}

.button .top .label {
  font-family: sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .15s ease-out;
  -moz-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.button-dark .top .label {
  color: #fff;
}

.button:hover .bottom {
  left: 0;
  top: 0;
  background-color: #f3f3f3;
}

.button:hover .top .label {
  color: #2acdc1;
}

.button-border {
  position: absolute;
  background-color: #2acdc1;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.button:hover .top .button-border-left,.button:hover .top .button-border-right {
  height: calc(100% + 2px);
}

.button:hover .top .button-border-top,.button:hover .top .button-border-bottom {
  width: calc(100% + 2px);
}

.button-border-left {
  left: -2px;
  bottom: -2px;
  width: 2px;
  height: 0;
}

.button-border-top {
  left: -2px;
  top: -2px;
  width: 0;
  height: 2px;
}

.button-border-right {
  right: -2px;
  top: -2px;
  width: 2px;
  height: 0;
}

.button-border-bottom {
  right: -2px;
  bottom: -2px;
  width: 0;
  height: 2px;
}
.phoner{
  width: 2000px;
  height: 800px;
  position: relative;
  margin-top: -60%;
  margin-left: 20%;
  top: -10%;
}
.phoneScreen
{
  width: 264px;
  height: 567px; 
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
  
}
.phoneScreen::-webkit-scrollbar{
  display: none;
}
.phoneApp{
  width: 100%;
}
.phoneScreen2{
  width: 264px;
  height: 567px; 
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg); 
}
.phoneScreenx{
  width: 264px;
  height: 567px; 
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}
.phone2, .kudaphone{
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg); position: relative;
}
.phonemovie{
  -ms-transform: rotate(-10deg); /* IE 9 */
  transform: rotate(-10deg); position: relative;
}
/* .movielaptop{
  transform: skewY(1deg);
} */
.kudaphone{
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg); position: relative;
}
.phone3{
  position: relative;
  top: -130%;
  right: -31%;
  width: 1500px;
  height: 70px;
  
}
.phone4{
  position: relative;
  top: -178%;
  right: -49%;
  width: 1500px;
  height: 70px;
  -ms-transform: skewY(-20deg); /* IE 9 */
  transform: skewY(-20deg);
  
}
.phone5{
  position: relative;
  top: -205%;
  right: -66.7%;
  width: 1500px;
  height: 70px;
  -ms-transform: skewY(-20deg); /* IE 9 */
  transform: skewY(-20deg);
  
}
.phone6{
  position: relative;
  margin-top: -40%;
  top: -116%;
  right: -88%;
  width: 1500px;
  height: 70px;
  
}
.phone8{
  position: relative;
  top: -30%;
  width: 1200px;
  height: 70px;
}
.phonev{
  margin-top: 150%;
  justify-content: center;
}
.phoneScreen2::-webkit-scrollbar{
  display: none;
}
.phoneApps{
  height: 100%;
  width: 100%;
}


/* flip */
.communincations{
  font-family: 'CoreCircus', sans-serif;
  font-size: 7vw;
  text-align: center;
  line-height: 1;
  margin: 0;
  margin-top: 13%;
  margin-left: 56%;
  transform: translate(-50%, -50%);
  letter-spacing: -.5rem;
}
.engineer{
  letter-spacing: -.5rem;
  font-family: 'CoreCircus', sans-serif;
  font-size: 7vw;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  color: #ffcc00;
  width: 100%;
  z-index: 5;
  text-shadow: none;
  margin-left: 61.5%;
  margin-top: -4%;
  text-align: left;
  animation: light 3s linear infinite;
}
  

@keyframes light {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
    text-shadow: -1px -1px 0 rgba(#fff, .4), 1px -1px 0 rgba(#fff, .4), -1px 1px 0 rgba(#fff, .4), 1px 1px 0 rgba(#fff, .4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@layer components {

  .space1{
    top: 200px;
  }
  
/* flicker */
  .font1{
    font-family: 'Indie Flower', cursive;
  }
  .font2{
    font-family: cursive;
  }
  .playground1{
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 500px;
    height: 500px;
    position: absolute;
  }
  .blobs{
    display: block;
    position: absolute;
  }
  .playground2{

  background-position: center;
  background-size: 10%;
  display: block;
  position: absolute;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
	font-family:'Titan One',cursive;
	font-size:90px;
	font-weight:700;
	flex-flow:row wrap;
	align-content:center;
	justify-content:center;
  z-index: 0;
  }
  .playground2 span{width:100%;}

  .playground2 span:before{
  width:100%;
  height:100%;
  position: relative;
  content:"";
  mix-blend-mode:screen;
  }

[class*="blobs"]
  {mix-blend-mode:color;animation:blobs 15s ease-in-out infinite alternate}

  .blobs_1{
    background:#ff1493;
    width:160px;
    height:160px;
    top:90px;
    left:210px;
    position:absolute;
    z-index: 8;
    }
  
  .blobs_2{
    background:#ff4500;
    width:180px;
    height:180px;
    top:155px;
    left:230px
    }
  
  .blobs_3{
    background:#00ff00;
    width:160px;
    height:160px;
    top:145px;
    left:20px
    }
  
  .blobs_4{
    background:#ff0000;
    width:100px;
    height:100px;
    top:115px;
    left:100px;
    z-index: 4;
    }
  
  .blobs_5{
    background:#ffff00;
    width:150px;
    height:150px;
    top:55px;
    left:70px
    }
  
  .blobs_6{
    background:#00ffff;
    width:160px;
    height:160px;
    top:220px;
    left:55px
    }
  
  .blobs_7{
    background:#ff8c00;
    width:150px;
    height:150px;
    top:210px;
    left:180px
    }
  
  @keyframes blobs{
    0%{border-radius:26% 74% 61% 39% / 54% 67% 33% 46%}
    10%{border-radius:74% 26% 47% 53% / 68% 46% 54% 32%}
    20%{border-radius:48% 52% 30% 70% / 27% 37% 63% 73%}
    30%{border-radius:73% 27% 57% 43% / 28% 67% 33% 72%}
    40%{border-radius:63% 37% 56% 44% / 25% 28% 72% 75%}
    50%{border-radius:39% 61% 70% 30% / 61% 29% 71% 39%}
    60%{border-radius:27% 73% 29% 71% / 73% 51% 49% 27%}
    70%{border-radius:39% 61% 65% 35% / 74% 65% 35% 26%}
    80%{border-radius:55% 45% 37% 63% / 38% 30% 70% 62%}
    90%{border-radius:25% 75% 70% 30% / 39% 50% 50% 61%}
    100%{border-radius:66% 34% 33% 67% / 65% 73% 27% 35%}
    }

  .basic{
    background-image: url('../../public/background2.gif.crdownload');
    background-repeat: no-repeat;
    background-size: 45rem;
    background-position-x: right;
    justify-content: flex-start;  
  }
  .bad{
    background-image: url(../../public/anime.gif);
    background-repeat: no-repeat;
    background-size: 45rem;
    /* background-position-x: right; */
    justify-content: center;
    position: relative;
    z-index: -20;
  }
  .user{
    font-family: 'Indie Flower';
  }
  /* kafgjakfd */
  .wrappers {
    display: flex;
    justify-content: center;
  }
  
  .cta {
      display: flex;
      padding: 10px 45px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      color: white;
      background: #008080;
      transition: 1s;
      box-shadow: 6px 6px 0 black;
      transform: skewX(-15deg);
  }
  
  .cta:focus {
     outline: none; 
  }
  
  .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #ffcc00;
  }
  
  .cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
  }
  .cta span:nth-child(1) {
   font-family: 'Poppins', serif;
}
  
  .cta:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
  }
  
    .span {
      transform: skewX(15deg) 
    }
  
    .span:nth-child(2) {
      width: 20px;
      margin-left: 30px;
      position: relative;
      top: 12%;
    }
    
  /**************SVG****************/
  
  path.one {
      transition: 0.4s;
      transform: translateX(-60%);
  }
  
  path.two {
      transition: 0.5s;
      transform: translateX(-30%);
  }
  
  .cta:hover path.three {
      animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
      0% {
          fill: white;
      }
      50% {
          fill: #FBC638;
      }
      100% {
          fill: white;
      }
  }
  
   .heroButton {
    background: #008080;
    box-shadow: #003;
    transform: translateZ(0);
  }

  .contactInput {
    @apply px-20 py-4 outline-none border-[#002] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all 
    hover:border-[#f7abba]/40 hover:text-[#f7abba]/40  placeholder-black focus:border-[#002]
    focus:text-[#654321]
  }
  .logodesign h2{
    @apply text-[4em] md:text-[6em] lg:text-[6em]
  }
 .wrap{
  background:#1116;
  border-radius: 20%;
  width: 15%;
  left: 80%;
  height: 100%;
 }
 .wrap1{
  background:#1119;
  width: 15%;
  margin-left: 80%;
  height: 100%;
  border-radius: 20%;
  border: #800000;
  position: relative;
  z-index: 100;
 }
 .texts{
  font-family: 'Gloria Hallelujah';
 }
 .ind{
  z-index: 300;
  position: relative;
 }

 .wrap ul{
  z-index: 100;
  left: -7%;
  cursor:pointer;
  position: relative;
 }
 .wrapli {
  border-bottom: 2px solid #000;
  width: 80%;
  font-family: 'Gloria Hallelujah', serif;
  color: #800000;
 }
 .wrapli2 {
  width: 80%;
  font-family: 'Gloria Hallelujah', serif;
 }
  .wrapper{
    position: fixed;
    top: 0;
    left: 80%;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #008080;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: transparent;
    /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    /* background: #000; */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapd{
    border-radius: 10%;
    
    
  }
  .wrapper ul{
    position: absolute;
    z-index: 0;
    top: 50%;
    left: -15%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: right;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  input[type="checkbox"]{
    display: none;
  }
  

  /* MENU BAR */
  /* .body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  .head1 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
  
  }
  
  .head1 span {
    font-size: 40px;
    margin-left: 40px;
  }
  
  .message {
    background-color: #003;
    color: #fff;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }.pro
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  } */
  /* LOGO DESIGN */
  .logodesign {
    position: relative;
  }
  
  .logodesign h2 {
    font-family: "Poppins", sans-serif;
    color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .logodesign h2:nth-child(1) {
    color: #008080;
    -webkit-text-stroke: 2px #008080;
  }
  
  .logodesign h2:nth-child(2) {
    color: #fff;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

  
}
/* button2 */
.button2{
  --top : rgba(100,100,100,.8) ;
  --bottom : rgba(100,100,100,.2) ;
  --side : rgba(100,100,100,.5) ;

  --1_top : rgba(216,0,60,.8) ;
  --1_bottom : rgba(216,0,60,.2) ;
  --1_side : rgba(216,0,60,.5) ;

  --2_top : rgba(0,100,190,.8) ;
  --2_bottom : rgba(0,100,190,.2) ;
  --2_side : rgba(0,100,190,.5) ;

  --3_top : rgba(0,170,100,.8) ;
  --3_bottom : rgba(0,170,100,.2) ;
  --3_side : rgba(0,170,100,.5) ;

  --4_top : rgba(255,230,20,.8) ;
  --4_bottom : rgba(255,230,20,.2) ;
  --4_side : rgba(255,230,20,.5) ;

  --5_top : rgba(155,50,255,.8) ;
  --5_bottom : rgba(155,50,255,.2) ;
  --5_side : rgba(155,50,255,.5) ;
}

.button2{
  display : flex ;
  position : relative ;
  width : 280px ;
  height : 80px ;
  text-decoration : none ;
  perspective : 3000px;
  background : linear-gradient( rgba(255,255,255,.1) 0% , rgba(255,255,255,0) 30%  ,rgba(255,255,255,0) 70% , rgba(255,255,255,.1)) ;
  box-shadow : 0 0 32px rgba(0,0,0,1) ;
}
.button2::before,
.button2::after{
  content : '' ;
  position : absolute ;
  top : 0 ;
  left : 0 ;
  right : 0 ;
  margin : 0 auto ;
  width : 100% ;
  height : 100% ;    
}
.button2::before{
  top : 0 ;
  transform-origin : top center ;
  transform : rotateX(70deg) ;
  background : linear-gradient(135deg , rgba(255,255,255,.3) 10%, rgba(255,255,255,0) 60%);
}
.button2::after{
  bottom : 0 ;
  transform-origin : bottom center ;
  transform : rotateX(-110deg) ;
  background : radial-gradient( rgba(255,255,255,0) 40%, rgba(255,255,255,.1) ) ;
}
.button2__wrapper{
  position : relative ;
  z-index : 2 ;
  width : 100% ;
  height : 100% ;
  background : linear-gradient( rgba(255,255,255,.4) 0% , rgba(255,255,255,0) 30%  ,rgba(255,255,255,0) 70% , rgba(255,255,255,.2)) ;
  transform : translate3d( 0 , 27px , 74px) ;
  perspective : 600px ;
}
.button2__text{
  position : relative ;
  display : flex ;
  justify-content : center ;
  align-items : center ;
  width : 100% ;
  height : 100% ;
  font-family: 'Alfa Slab One', cursive;
  font-size : 24px ;
  letter-spacing : 4px ;
  transition : all ease-in-out 1s ;
}
.button2__text::before{
  content : '' ;
  position : absolute ;
  z-index : 1 ;
  top : 0 ;
  left : 0 ;
  width : 230px ;
  height : 80px ;
  background : linear-gradient(25deg , rgba(255,255,255,.1) , rgba(255,255,255,0)) ;
  clip-path : path('M230,0H0V80H146.96c0-35.33,33.95-65.83,83.04-80Z') ;
}
.button2__text::after{
  content : '' ;
  position : absolute ;
  z-index : 2 ;
  top : 4px ;
  left : 4px ;
  width : 272px ;
  height : 40px ;
  background : linear-gradient(25deg , rgba(255,255,255,.3) , rgba(255,255,255,0)) ;
  clip-path : path('M272,9.22V0H0V40H.32C48.19,22.59,151.14,10.26,272,9.22Z') ;
}
.button2__wrapper::before,
.button2__wrapper::after{
  content : '' ;
  position : absolute ;
  top : 0 ;
  width : 84px ;
  height : 100% ;
  background : linear-gradient(90deg , rgba(255,255,255,.2) 0% , rgba(255,255,255,0) 30%  ,rgba(255,255,255,0) 70% , rgba(255,255,255,.2)) ;
  background : radial-gradient( rgba(255,255,255,0) 40%, rgba(255,255,255,.1) ) ;
}
.button2__wrapper::before{
  left : 0 ;
  transform-origin : left center ;
  transform : rotateY(90deg) skewY(-20deg);
}
.button2__wrapper::after{
  right : 0 ;
  transform-origin : right center ;
  transform : rotateY(-90deg) skewY(20deg);
}

.button2__box{
  position : absolute ;
  top : 0 ;
  left : 8px ;
  bottom : 0 ;
  margin : auto 0 ;
  width : 264px ;
  height : 70px ;
  transform : translate3d(0, 4px, 10px) ;
  perspective : 600px ;
}
.inner{
  transition : all ease-in-out 1s ;
}
.inner__back{
  position : absolute ;
  top : 0 ;
  left : 0 ;
  width : 0 ;
  height : 100% ;
  background : var(--bottom);
  perspective : 600px ;
}
.inner__top{
  position : absolute ;
  z-index : 3 ;
  top : 0 ;
  left : 0 ;
  width : 0 ;
  height : 100% ;
  transform-origin : top left ; 
  transform : rotateX(70deg) ;
  background : var(--top);
}
.inner__front{
  position : absolute ;
  z-index : 3 ;
  top : 0 ;
  left : 0 ;
  width : 0 ;
  height : 100% ;
  transform-origin : top left ; 
  transform : translate3d(0, 24px, 68px ) ;
  background : var(--top);
}
.inner__bottom{
  position : absolute ;
  z-index : 2 ;
  top : 0 ;
  left : 0 ;
  width : 0 ;
  height : 100% ;
  transform-origin : bottom left ; 
  transform : rotateX(-110deg) ;
  background : var(--bottom);
}
.inner__left{
  position : absolute ;
  z-index : 2 ;
  top : 0 ;
  left : 0 ;
  width : 68px ;
  height : 100% ;
  transform-origin : center left ; 
  transform : rotateY(-90deg) skewY(20deg) ;
  background : rgba(255,0,0,0) ;
  transition : all linear .01s ;
}
.inner__right{
  position : absolute ;
  z-index : 2 ;
  top : 0 ;
  left : 0 ;
  width : 68px ;
  height : 100% ;
  transform-origin : center left ; 
  transform : rotateY(-90deg) skewY(20deg) ;
  background : rgba(255,0,0,0) ;
}
.button2:hover .inner__top,
.button2:hover .inner__front,
.button2:hover .inner__bottom,
.button2:hover .inner__back{
  width : 100% ;
}
.button2:hover .inner__left{
  background :  var(--side) ;
}
.button2:hover .inner__right{
  left : 100% ;
  background :  var(--side) ;
}
.button2:hover .button2__text{
  color : rgba(255,255,255,1) ;
}
.plates{
  position : absolute ;
  z-index : 10 ;
  top : 0 ;
  left : -20px ;
  width : 320px ;
  height : 120px ;
  animation-duration : 3s ;
  animation-iteration-count : infinite ;
}
.plates:nth-child(1){
  animation-name : plate_1 ;
}
.plates:nth-child(2){
  animation-name : plate_2 ;
}
.plates:nth-child(3){
  animation-name : plate_3 ;
}
.plates:nth-child(4){
  animation-name : plate_4 ;
}
.plates:nth-child(5){
  animation-name : plate_5 ;
}
.button2:hover .plates{
  animation-play-state : paused ;
}
.plates:nth-child(1):hover ~ .button2__box .inner__top,
.plates:nth-child(1):hover ~ .button2__box .inner__front{
  background : var(--1_top);
} 
.plates:nth-child(1):hover ~ .button2__box .inner__left,
.plates:nth-child(1):hover ~ .button2__box .inner__right{
  background : var(--1_side);
} 
.plates:nth-child(1):hover ~ .button2__box .inner__back,
.plates:nth-child(1):hover ~ .button2__box .inner__bottom{
  background : var(--1_bottom);
} 
.plates:nth-child(2):hover ~ .button2__box .inner__top,
.plates:nth-child(2):hover ~ .button2__box .inner__front{
  background : var(--2_top);
} 
.plates:nth-child(2):hover ~ .button2__box .inner__left,
.plates:nth-child(2):hover ~ .button2__box .inner__right{
  background : var(--2_side);
} 
.plates:nth-child(2):hover ~ .button2__box .inner__back,
.plates:nth-child(2):hover ~ .button2__box .inner__bottom{
  background : var(--2_bottom);
} 
.plates:nth-child(3):hover ~ .button2__box .inner__top,
.plates:nth-child(3):hover ~ .button2__box .inner__front{
  background : var(--3_top);
} 
.plates:nth-child(3):hover ~ .button2__box .inner__left,
.plates:nth-child(3):hover ~ .button2__box .inner__right{
  background : var(--3_side);
} 
.plates:nth-child(3):hover ~ .button2__box .inner__back,
.plates:nth-child(3):hover ~ .button2__box .inner__bottom{
  background : var(--3_bottom);
} 
.plates:nth-child(4):hover ~ .button2__box .inner__top,
.plates:nth-child(4):hover ~ .button2__box .inner__front{
  background : var(--4_top);
} 
.plates:nth-child(4):hover ~ .button2__box .inner__left,
.plates:nth-child(4):hover ~ .button2__box .inner__right{
  background : var(--4_side);
} 
.plates:nth-child(4):hover ~ .button2__box .inner__back,
.plates:nth-child(4):hover ~ .button2__box .inner__bottom{
  background : var(--4_bottom);
} 
.plates:nth-child(5):hover ~ .button2__box .inner__top,
.plates:nth-child(5):hover ~ .button2__box .inner__front{
  background : var(--5_top);
} 
.plates:nth-child(5):hover ~ .button2__box .inner__left,
.plates:nth-child(5):hover ~ .button2__box .inner__right{
  background : var(--5_side);
} 
.plates:nth-child(5):hover ~ .button2__box .inner__back,
.plates:nth-child(5):hover ~ .button2__box .inner__bottom{
  background : var(--5_bottom);
} 
@keyframes plate_1{
  0%   { transform : scale(1) ; }
  19.9%{ transform : scale(1) ; }
  20%  { transform : scale(0) ; }
  100% { transform : scale(0) ; }
}
@keyframes plate_2{
  0%   { transform : scale(0) ; }
  19.9%{ transform : scale(0) ; }
  20%  { transform : scale(1) ; }
  39.9%{ transform : scale(1) ; }
  40%  { transform : scale(0) ; }
  100% { transform : scale(0) ; }
}
@keyframes plate_3{
  0%   { transform : scale(0) ; }
  39.9%{ transform : scale(0) ; }
  40%  { transform : scale(1) ; }
  59.9%{ transform : scale(1) ; }
  60%  { transform : scale(0) ; }
  100% { transform : scale(0) ; }
}
@keyframes plate_4{
  0%   { transform : scale(0) ; }
  59.9%{ transform : scale(0) ; }
  60%  { transform : scale(1) ; }
  79.9%{ transform : scale(1) ; }
  80%  { transform : scale(0) ; }
  100% { transform : scale(0) ; }
}
@keyframes plate_5{
  0%   { transform : scale(0) ; }
  79.9%{ transform : scale(0) ; }
  80%  { transform : scale(1) ; }
  100% { transform : scale(1) ; }
}

.glass{
  /* From https://css.glass */
background: rgba(49, 44, 44, 0.69);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.3px);
-webkit-backdrop-filter: blur(17.3px);
border: 1px solid rgba(49, 44, 44, 0.3);
}


/* 本体に関係ないスタイル */
.container2{
  width : 100% ;
  height : 600px ;
  display : flex ;
  flex-direction : column ;
  justify-content : center ;
  align-items : center ;
  background : #222 ;
}

.stage {
  background: transparent;
  width: 560px;
  margin: 4em auto;
  border: 15px solid #333;
  box-shadow: 1px 4px 11px rgb(46, 46, 46), inset 1px 3px 6px rgb(29, 29, 29);
  padding: 1em 0 3em;
  position: relative;
}

.stage-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 120.25%;
  /* background-image: url(../../public/ux.gif); */
}

.stage-content:after {
  /* content: 'Achievement Unlock'; */
  text-align: center;
  /* display: block; */
  text-transform: uppercase;
  transform: translateY(0.5em);
  font-size: 1.1em;
}

.curtain-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.curtain-panel {
  display: flex;
  height: 100%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.curtain-panel .curtain {
  width: 50%;
  background-color: #231709;
  position: relative;
  transition: transform 0.5s ease-out;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.curtain-panel .curtain:before {
  content: attr(data-title);
  text-align: center;
  width: 200%;
  position: absolute;
  top: 50%;
  line-height: 0;
  font-size: 1.1em;
  text-shadow: 1px 1px 3px #ccc;
}

.curtain-panel .left-curtain:before {
  left: 0;
}

.curtain-panel .right-curtain:before {
  right: 0;
}

.curtain-panel .curtain:after {
  content: '';
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, rgba(0, 0, 0, 0) 12px, #fff 13px);
  display: block;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.curtain-trigger {
  visibility: hidden;
  position: relative;
}

.curtain-trigger:checked ~ .left-curtain {
  transform: translateX(calc(-100% + 2em));
}

.curtain-trigger:checked ~ .right-curtain {
  transform: translateX(calc(100% - 2em));
}
.left-curtain {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
	transform: perspective(2500px);
  overflow: hidden;
  transform-origin: left;
  box-shadow: 30px 0 50px rgba(0,0,0,0.2);
  position: absolute;
  background-color: #5C4033;
  z-index:5;
  transition: .5s;
}
.left-curtain:before, .left-curtain:after {
  content:"";
  position: absolute;
  background-color: #362511;
  width: 255px;
  height: 100px;
  border: 40px ridge #3c280d;
  left:22.5px;
  margin-left: 2%;
}
.left-curtain:after {
  content:"";
  position: absolute;
  background-color: #924500;
  width: 255px;
  height: 200px;
  border: 40px ridge #3c280d;
  left:22.5px;
}

.left-curtain:before {
  top:25px;
}

.left-curtain:after {
  top:155px;
}
.knob {
  position: absolute;
  width: 30px;
  height:30px;
  background-color: #eeba0b;
  top:300px;
  left:235px;
  border-radius:2px;
}

.knob:before {
  content:"";
  position: absolute;
  border-radius:50%;
  background-color: #f1c83c;
  width:28px;
  height:18px;
  left:-1px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.knob:after {
  content:"";
  position: absolute;
  width:14px;
  height:7px;
  background-color: #000;
  top:20px;
  left:8.5px;
}
.right-curtain {
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
	transform: perspective(2500px);
  overflow: hidden;
  transform-origin: right;
  box-shadow: 30px 0 50px rgba(0,0,0,0.2);
  position: absolute;
  background-color: #924500;
  z-index:5;
  transition: .5s;
}
.right-curtain:before, .right-curtain:after {
  content:"";
  position: absolute;
  background-color: #362511;
  width: 255px;
  height: 100px;
  border: 40px ridge #3c280d;
  right:22.5px;
  margin-right: 2%;;
}

.right-curtain:before {
  top:25px;
}

.right-curtain:after {
  top:155px;
}
.knob2 {
  position: absolute;
  width: 30px;
  height:30px;
  background-color: #eeba0b;
  top:300px;
  right:235px;
  border-radius:2px;
}

.knob2:before {
  content:"";
  position: absolute;
  border-radius:50%;
  background-color: #f1c83c;
  width:28px;
  height:18px;
  right:-1px;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
}

.knob2:after {
  content:"";
  position: absolute;
  width:14px;
  height:7px;
  background-color: #000;
  top:20px;
  right:8.5px;
}

button {
  overflow: visible;
}
.subject option{
  background-color: black;
  color: white;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

/* input {
  line-height: normal;
} */

textarea {
  overflow: auto;
}

#container4 {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
  overflow: auto;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.head1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	/* line-height: 150%; */
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container4 {
    margin: 20px auto;
    width: 95%;
  }
  .body5{
    zoom: 130%;
  }
  .candidatos{
    margin-left: 18%;
  }
  .bff{
    margin-left: 150px;
  }
  .wide3{
    zoom: 150%;
  }
  .bad{
    background-image: url(../../public/anime2.gif);
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  .bad{
    background-image: url(../../public/anime2.gif);
  }
  .hiddens{
    visibility: hidden;
  }
  #form_button {
    padding: 15px 25px;
  }
  .candidatos{
    position: relative;
    margin-top: 11%;
    margin-left: 6%;
    width: 400px;
    zoom: 80%;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px;
    color: #008080;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  .smallphone{
    zoom: 60%;
  }
  .candidatos{
    margin-top: 13%;
  }
  .body5{
    zoom: 150%;
    margin-top: 10%;
  }
  .candidatos{
    zoom: 110%;
  }
  .bff{
    margin-left: 50px;
  }
  .stack{
    margin-top: -40px;
  }
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}

#send{
  display: none;
}
.send {
  --hue: 30deg;
  position: relative;
  width: 20rem;
  height: 20rem;
  perspective: 66rem;
  transform-style: preserve-3d;
  cursor: pointer;
}
.send *, .send *::before, .send *::after {
  transition: all 1s;
}
.send .rotate {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.send .rotate .move {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}
.send .rotate .move .part {
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.send .rotate .move .part::before, .send .rotate .move .part::after {
  content: 'SEND';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--hue), 70%, 75%);
  font-size: 4.4rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}
.send .rotate .move .part.left::before {
  transform-origin: 50% 25%;
  clip-path: polygon(0 0, 100% 0, 100% 1px, 0 calc(50% + 1px));
}
.send .rotate .move .part.left::after {
  clip-path: polygon(0 50%, 100% 0, 100% 1px, 1px 100%, 0 100%);
}
.send .rotate .move .part.right::before {
  clip-path: polygon(0 100%, 100% 0, 100% 1px, calc(50% + 1px) 100%, 50% 100%);
}
.send .rotate .move .part.right::after {
  transform-origin: 75% 50%;
  clip-path: polygon(100% 0, 50% 100%, 100% 100%);
}
#send:checked ~ .send .rotate {
  transform: rotate3d(1, -0.2, 0.2, 65deg);
}
#send:checked ~ .send .rotate .move {
  animation: fly 3s cubic-bezier(0.72, -0.23, 0.35, 1.03) 1s both;
}
#send:checked ~ .send .rotate .part.left {
  transform: rotate3d(-1, 1, 0, 60deg);
}
#send:checked ~ .send .rotate .part.left::before {
  transform: rotate3d(-1, 0.5, 0, -60deg);
}
#send:checked ~ .send .rotate .part.left::after {
  background-color: hsl(var(--hue), 50%, 70%);
}
#send:checked ~ .send .rotate .part.right {
  transform: rotate3d(-1, 1, 0, -60deg);
}
#send:checked ~ .send .rotate .part.right::before {
  background-color: hsl(var(--hue), 40%, 60%);
}
#send:checked ~ .send .rotate .part.right::after {
  transform: rotate3d(-0.25, 0.5, 0, 100deg);
}
@keyframes fly {
  0% {
    transform: translate3D(0, 0, 0rem);
  }
  50% {
    transform: translate3D(400rem, -400rem, 0rem);
  }
  50.00001% {
    transform: translate3D(-100rem, 100rem, 0rem);
  }
  100% {
    transform: translate3D(0rem, 0rem, 0rem);
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 640px) and (min-width: 300px) {
  .sidebar {padding-top: 15px;}
  .sidebar li {font-size: 18px;}
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
  }
  
  .sidebar ul li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .subject option{
    zoom: 60%;
  }
  .engineer{
    font-size: 10vw;
  }
  .wide{
    zoom: 80%
  }
  .communincations{
    font-size: 10vw;
  }
  .hand{
    background-size: 13rem;
  }
  .wrap{
    visibility: hidden;
  }
}
@media screen and (max-width:1000px) and (min-width: 760px) {
  .engineer{
    font-size: 12vw;
  }
  .communincations{
    font-size: 12vw;
  }
  .subject option{
    zoom: 30%;
  }
  .{
    zoom: 110%;
  }
  .hand{
   background-size: 20rem;
   zoom: 150%;
  }
  .wide3{
    zoom: 105%
  }
  .wide6{
    zoom: 150%;
  }
  .wide6s{
    zoom: 110%;
  }
  .mid{
    zoom: 120%;
    
  }
  
}
.phone2s{
  position: relative;
  margin-top: -40%;
  top: -80%;
  right: -13%;
  width: 1500px;
  height: 70px;  
}
.phoneScreen2s{
  width: 264px;
  height: 567px; 
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}
.phoneApps2{
  height: 100%;
  width: 100%;

}
/* .phone {
  height: 700%;
} */
.w3{
  zoom: 130%;
}
.underlined{
  border-bottom: 1px solid #008080;
}
.spanner{
  font-family: 'Quicksand';
}
/* .{
  background-image: url(../../public/background.gif);
  background-size: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -3;
} */
/* resume */

.cv{
  margin: 0px;
  padding: 0px;
  height: 150vh;
  font-family: 'Quicksand';
}
.clearfix{clear: both;}
.resume-box{
    width: 800px;
    height: 1200px;
    padding: 50px;
    margin: 0 auto;
    background-color: #1116;
}
.box-outer{padding: 30px;}
.box-1{
    width: 30%;
    float: left;
    height: 1000px;
    padding-right: 39px;
}
.box-2{
    width: 60%;
    float: left;
    padding:0px 20px;
}
.name{
    letter-spacing: 5px;
    font-family: arial;
    color: var(--font-color);
    line-height: 39px;
    margin: 20px 0px 0px 20px;
    float: left;
    font-weight: 900;
}
.contat_p{color: var(--font-color);}
.fontfa{
    padding: 8px;
    background: var(--font-color);
    color: white;
    border-radius: 15px;
    width: 14px;
    text-align: center;
}
.name_p{
    margin: 3px 0px 0px 20px;
    float: left;
    text-transform: uppercase;
    color: var(--font-color);
    letter-spacing: 2px;
}
.profile{
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 10px;
    border: 3px solid var(--font-color);
    margin-top: 15px;
}
.content{padding: 0px;}
.cv h1{
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}
.cv p{
    color:white;
    font-weight: 300;
    font-size: 14px;
}
.cv ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.cv ul:before{
    content: "";
    display:inline-block;
    width : 2px;
    background: #47494f2b;
    position: absolute;
    left: 3px;
    top: 5px;
    height: calc(100% - 10px);
}
.cv ul li{
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}
.cv ul li:before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--second-color);
    position: absolute;
    left: -1px;
    top: 5px;
    border-radius: 10px;
}

#progress, #progress1, #progress2, #progress3{
    background: #47494f00;
    height: 5px;
    width: 100%;
    border: 1px solid #c0c1c3;
}
#progress::after, #progress1::after, #progress2::after, #progress3::after{
    content: '';
    display: block;
    background: var(--second-color);
    height: 100%;
}
#progress:after{width: 50%;}
#progress1:after{width: 40%;}
#progress2:after{width: 80%;}
#progress3:after{width: 90%;}
.col-sm-6{
    width: 50%; float: left;
}
.head{
    color: var(--font-color);
    font-weight: 600;
    text-transform: uppercase;
    font-family: arial;
    font-size: 25px;
    letter-spacing: 3px;
}
.para-1{
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    margin: 5px 0px;
    margin-top: 10px;
}
.para-2{
    font-size: 14px;
    text-transform: capitalize;
    color: var(--second-color);
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}
/* education */
.body5 {
  color: #1f4e5f;
   font-family: "Lato", sans-serif;
  /* background-image: radial-gradient(#000 10%, #000000 100%); */
  background-size: 2000px 2000px;
  background-position: center;
}
.underliner{
  border-bottom: 6px solid #008080;
  width: 250px;
}
.underlines{
  border-bottom: 7px solid #008080;
  width: 110px;
}
.flexx {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list__item a:hover{
  color: #003;
}
.ulx {
  font-size: 1.15rem;
  color: #008080;
  font-family: 'Indie Flower';
}
.lix {
  position: relative;
  padding: 1.5em;
  line-height: 1;
  perspective: 150px;
  background-color: #f4f7f7;
  white-space: nowrap;
  list-style: none;
}
.lix::before, .lix::after {
  position: absolute;
  top: 0;
  display: block;
  height: 0;
  width: 0;
  content: "";
  border: 0 solid transparent;
}
.lix::after {
  right: 0;
}
.lix::before {
  left: 0;
}
.lix:nth-child(even) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
}
.lix:nth-child(even)::before, .li:nth-child(even)::after {
  border-top-color: #000;
  border-top-width: 4em;
}
.lix:nth-child(even)::before {
  border-right-width: 5px;
}
.lix:nth-child(even)::after {
  border-left-width: 5px;
}
.lix:nth-child(odd) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.lix:nth-child(odd)::before, .lix:nth-child(odd)::after {
  border-bottom-color: #000;
  border-bottom-width: 4em;
}
.lix:nth-child(odd)::before {
  border-right-width: 5px;
}
.lix:nth-child(odd)::after {
  border-left-width: 5px;
}
.list__item-textx {
  display: inline-block;
}
.list__item:nth-child(odd) .list__item-textx {
  transform: rotateX(-7deg);
}
.list__item:nth-child(even) .list__item-textx {
  transform: rotateX(7deg);
}

/* certifications */
.wrapperv .outerv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperv .cardv{
  background: #FFD700;
  width: 630px;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 5px 20px 24px 5px #00000073;
  animation: animated 15s linear infinite;
  border: 1px solid #5bd370;
  animation-delay: calc(3s * var(--dealy));
}
.wrapper .first{
  animation-delay: calc(3s * var(1));
}
.wrapper .second{
  animation-delay: calc(3s * var(1));
}
.wrapper .third{
  animation-delay: calc(3s * var(1));
}
.wrapper .fourth{
  animation-delay: calc(3s * var(1));
}
.wrapper .fifth{
  animation-delay: calc(3s * var(1));
}
.outerv:hover .cardv{
  animation-play-state: paused;
}
.wrapperv .cardv:last-child{
  animation-delay: calc(3s * var(1));
}
@keyframes animated{
  0%{
    opacity: 0;
    transform: translateX(100%) scale(0.5);
  }
  5%, 20%{
    opacity: 0.2;
    transform: translateX(100%) scale(0.7);
  }
  25%, 40%{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%) scale(1);
  }
  45%, 60%{
    opacity: 0.2;
    transform: translateX(-100%) scale(0.7);
  }
  65%, 100%{
    opacity: 0;
    transform: translateX(-100%) scale(0.5);
  }
}

.cardv .contentv{display: flex; align-items: center;}
.wrapperv .cardv .img{
  height: 80px;
  width: 80px;
  position: absolute;
  left: -35px;
  background: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.cardv .img img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.cardv .detailsv {margin-left: 40px;}
.deatilsv span{
  color: #1a2668;
  font-weight: 600;
  font-size: 18px;
}
.detailsv p{color: #1a2668;}
.cardv a{
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: white;
  background: #1a2668;
  transition: all 0.3s ease;
}
.cardv a:hover{transform: scale(0.94);}

.candidatos{
  position: relative;
  margin-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 50px;
  color: #008080;
}

.candidatos .parcial{
  display: inline-block;
  width: 100%;
  vertical-align:middle;
}
.candidatos .parcial .info{
  position: relative;
  font-family: 'Courier New', Courier, monospace;
}
.candidatos .parcial .info .nome{
  position: absolute;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Quicksand';
  top: 0;
  left: 0;
  font-size: 17px;
  opacity: 0.9;
  font-weight: bold;
}
.candidatos .parcial .info .percentage-num{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Taviraj', serif;
}
.candidatos .parcial .progressBar{
  position: relative;
  width: 100%;
  height: 7px;
  margin: 30px 0 2px;
  border-radius: 10px;
  background: gray;
}
.candidatos .parcial .percentagem{
  position: absolute;
  top: 0;left: 0;height: 7px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 3s all;
  animation-name: animationProgress;
  font-family: 'Courier New', Courier, monospace;
}
.percentagem{
    position: absolute;
    animation-name: animationProgress;
    display: block;
    height: 5px;
    /* width: 85%; */
    background:linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}
.frontend{
  width: 90%;
}
.backend{
  width: 50%;
}
.graphics{
  width: 55%;
}
.digital{
  width: 80%;
}
.english{
  width: 100%;
}
.pon{
  zoom: 120%;
}
@keyframes animationProgress{
  from{
      width: 0;
  }
}

/* navbar */
.pro2{}